.nav-link span i {
    font-size: 48px;
    margin-left: -10px;
}

.my-4 p {
    color: #ffffff96;
    font-style: oblique;
}

.mark-light,
mark-light {
    padding: 0.2em;
    background-color: #ff6c91;
}

.nwsection {
    padding-top: 12%;
    padding-left: 27px;
}

.alert{
	margin-bottom: 0px !important;
}

.dec-margin {
    margin-top: -180px;
}

.frame-portfolio-item {
    height: auto;
    width: 100%;
}

.frame-profile {
    max-width: 150px;
    max-height: 150px;

}

.inner-text-style {
    font-weight: bold;
    color: yellowgreen;
    /* text-decoration: underline; */
}

/*fdgnlxkjfgnldkjf*/


.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/*.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}*/

@keyframes pulse {
  to {
    opacity: 1;
  }
}


.new-scroll {
    position: absolute;
    left: 50%;
}

svg[data-icon='heroicons-outline:menu-alt-3'] {
  font-size: 48px;
  color: #fff;
}

svg[data-icon='heroicons-outline:x'] {
  font-size: 48px;
  color: #fff;
}

svg[data-icon='fa-brands:youtube'] {
  font-size: 48px;
  
}

svg[data-icon='fa-brands:dribbble'] {
  font-size: 48px;
  
}

svg[data-icon='fa-brands:behance'] {
  font-size: 48px;
  /* color: #053cf7; */
}

svg[data-icon='fa-brands:linkedin-in'] {
  font-size: 48px;
  /* color: #0a66c2; */
}

svg[data-icon='fa-brands:instagram'] {
  font-size: 48px;
  /* color: #fff; */
}

.socialinks {
     display: flex;
    justify-content: space-between;
    /* width: 350px; */
    /* margin: 32px 0 64px -8px; */

}

.socialinks a {
  padding: 12px;
  border-radius: 12px;
  display: flex;
}

.socialinks a:hover {
  transition: .2s ease-in;
  background: #1b1b27;
}
/* .emailButton:hover {
  cursor: pointer;
} */

a:active, a:hover {
  outline: 0;
}

.navactive{
  transition: .2s ease-in;
  background: #1b1b27;
  border-radius: 12px;
  display: flex;
}
.ice-cube {
  height: 5%;
  width: 5%;
}

.btn-padding {
  padding-top: 12px !important; 
  padding-bottom: 12px !important; 
  padding-left: 20px !important; 
  padding-right: 20px !important; 
  border-radius: 12px !important;
  display: flex;
}

.lead.hero-sub-head {
    font-size: 26px;
}