.nav-link span i {
    font-size: 48px;
    margin-left: -10px;
}

.my-4 p {
    color: #ffffff96;
    font-style: oblique;
}

.mark-light,
mark-light {
    padding: 0.2em;
    background-color: #ff6c91;
}